---
layout: default
title: Coding
---

<section class="general">
  <div class="content">
    <div class="container">
      <h1>CODING PROJECTS</h1>

      <p style="margin-bottom: 40px; text-align: center">
        My varoius electronics projects
      </p>

      <div class="electronics-container general-container">
        {%assign codingposts = site.posts | where: "category", "coding" %} {%
        for post in codingposts%}
        <div class="general-item">
          <div class="text-and-image">
            <div class="text">
              <h3>{{post.title}}</h3>
              <p>{{post.content}}</p>

              <div class="tags">
                {% if post.tags %} {% for tag in post.tags %}
                <button>{{tag}}</button>
                {% endfor %} {% endif %}
              </div>
            </div>

            <img src="{{post.image}}" alt="" />
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</section>
