:root {
  --white: #fff;
  --main-blue: #0088ff;
  --border: 2px solid black;
  --border-radius: 5px;
  --secondary: #ffb115;
  --drop-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.general {
  margin-top: 50px;
}

.general .content {
  height: 100%;
}

.general .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.general-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
}

.general-item {
  gap: 20px;
  background-color: var(--white);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 30px 20px;
  width: 80%;
  color: var(--white);
  margin-bottom: 50px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
.general-item-two {
  background-color: var(--main-blue);
  color: var(--white);
}

.general-item p {
  color: #000;
}

.general-item-two p {
  color: var(--white);
}

.general-item h3 {
  font-weight: 600;
  color: #000;
}

.tags {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tags .github-button {
  color: #000;
  font-size: 1.2rem;
  padding: 1px 10px;
}

.general-item button {
  font-family: Poppins;
  padding: 5px 10px;
  background-color: #fff;
  color: var(--main-blue);
  border: 1px solid black;
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  margin-right: 15px;
}

.general-item img {
  width: 100%;
  border-radius: var(--border-radius);
  border: var(--border);
}
.general-item .text-and-image {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* MEDIA QUERY*/

@media (min-width: 768px) and (max-width: 1920px) {
  .general-item .text-and-image {
    flex-direction: row;
  }
  .general-item img {
    width: 50%;
  }
}
